<ul class="nav nav-tabs">
        <li class="{{activeTab 'profiles'}}"><a href="/settings/profiles/"><i class="fa fa-upload"></i>Upload
                        Profiles</a></li>
        <li class="{{activeTab 'hosts'}}"><a href="/settings/hosts/"><i class="fa fa-server"></i>Host Accounts</a></li>
        <li class="{{activeTab 'sites'}}"><a href="/settings/sites/"><i class="fa fa-link"></i>API</a></li>
        <li class="{{activeTab 'templates'}}"><a href="/settings/templates/"><i class="fa fa-code"></i>Templates</a>
        </li>
        <li class="{{activeTab 'services'}}"><a href="/settings/services/"><i class="fa fa-server"></i>Services</a></li>
        <li class="pull-right">
                <a href="/user/logout"><span class="text-danger"><i class="fa fa-sign-out"></i>Logout</span>
                </a>
        </li>
</ul>